{% for interface in rsvp_interfaces %}
set interfaces {{ interface.name }} unit {{ interface.unit }} family mpls
set protocols rsvp interface {{ interface.name }}.{{ interface.unit }}
set protocols mpls interface {{ interface.name }}.{{ interface.unit }}
{% endfor %}
{% if rsvp_static_paths is defined %}
{% for path in rsvp_static_paths %}
set protocols mpls label-switched-path {{ path.name }} to {{ path.dest }}
{% endfor %}
{% endif %}
