{% for interface in rsvp_interfaces %}
set interfaces {{ interface.name }} unit {{ interface.unit }} family mpls
{% if interface.link_protection is defined %}
set protocols rsvp interface {{ interface.name }}.{{ interface.unit }} link-protection
{% else %}
set protocols rsvp interface {{ interface.name }}.{{ interface.unit }}
{% endif %}
set protocols mpls interface {{ interface.name }}.{{ interface.unit }}
{% endfor %}
{% if rsvp_paths is defined %}
{% for path in rsvp_paths %}
{% for hop in path.hops %}
set protocols mpls path {{ path.name }} {{ hop.name }} {{ hop.type }}
{% endfor %}
{% endfor %}
{% endif %}
{% if rsvp_ingress_lsps is defined %}
{% for path in rsvp_ingress_lsps %}
set protocols mpls label-switched-path {{ path.name }} to {{ path.dest }}
{% if path.cspf == False %}
set protocols mpls label-switched-path {{ path.name }} no-cspf
{% endif %}
{% if path.bandwidth is defined %}
set protocols mpls label-switched-path {{ path.name }} bandwidth {{ path.bandwidth }}
{% endif %}
{% if path.primary_path is defined %}
set protocols mpls label-switched-path {{ path.name }} primary {{ path.primary_path }}
{% endif %} 
{% if path.secondary_paths is defined %}
{% for secondary_path in path.secondary_paths %}
{% if secondary_path.standby is defined %}
set protocols mpls label-switched-path {{ path.name }} secondary {{ secondary_path.name }} standby
{% else %}
set protocols mpls label-switched-path {{ path.name }} secondary {{ secondary_path.name }}
{% endif %}
{% endfor %}
{% endif %}
{% if path.priority is defined %}
set protocols mpls label-switched-path {{ path.name }} priority {{ path.priority }}
{% endif %}
{% if path.soft_preemption is defined and path.soft_preemption == True %}
set protocols mpls label-switched-path {{ path.name }} soft-preemption
{% endif %}
{% if path.fast_reroute is defined %}
set protocols mpls label-switched-path {{ path.name }} fast-reroute
{% endif %}
{% if path.node_link_protection is defined %}
set protocols mpls label-switched-path {{ path.name }} node-link-protection
{% endif %}
{% if path.adaptive is defined %}
set protocols mpls label-switched-path {{ path.name }} adaptive
{% endif %}
{% endfor %}
{% endif %}
